<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/styleFix.css">
</head>
<body>
    <div class="main">
      <div class="container background-container">
        <div class="email">

          <div class="text">
            <h1 class="roboto-700 title">Stay updated!</h1>
            <p class="roboto">Join 60,000+ product managers receiving monthly updates on:</p>
          </div>

          <div class="features roboto">
            <div>
              <div class="list">
                <img src="/images/icon-list.svg">
                <p class="list-p">Product discovery and building what matters</p>
              </div>

              <div class="list">
                <img src="/images/icon-list.svg">
                <p class="list-p">Measuring to ensure updates are a success</p>
              </div>

              <div class="list">
                <img src="/images/icon-list.svg">
                <p class="list-p">And much more!</p>
              </div>
            </div>
          </div>

          <div class="login roboto">

            <form action="/sucess" method="post">
              <div class="input-text">
                <div class="text-email-p margin-0">
                  <p class="margin-0 text-Email">Email address</p>
                </div>
    
                <input class="input roboto" type="text" name="input" placeholder="email@company.com">
              </div>
    
              <div class="div-button">
                <button class="button1 roboto-700 text-button">Subscribe to monthly newsletter</button>
              </div>
            </form>

          </div>
        </div>
          
        <div class="img">
          <picture>
            <source media="(max-width: 430px)" srcset="/images/illustration-sign-up-mobile.svg">
            <img src="/images/illustration-sign-up-desktop.svg">
          </picture>
        </div>
      </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src=" script/script.js"></script>
</body>
</html>